<nav class="w-screen h-20 fixed top-0 z-50 flex justify-between items-center px-40">
  <a class="text-2xl text-primary-500 font-bold">
    Breastify
  </a>
  <ul class="flex gap-12">
    <li>
      <a class="text-lg text-primary-500/80" href="/">Inicio</a>
    </li>
    <li>
      <a class="text-lg text-primary-500/80" href="/info">Información</a>
    </li>
    <li>
      <a class="text-lg text-primary-500/80" href="/analize">Subir imagen</a>
    </li>
  </ul>
</nav>